@{
    ViewData["Title"] = "Home Page";
}

<h1 class="cover-heading">Fatura Yönetim Sistemi</h1>
<p class="lead">Patika.dev .net Core Projeleri kapsamın yapılan "Fatura Yönetim Sistemi Ödevi"</p>
<p class="lead">
    <a href="/Login/" class="btn btn-lg btn-secondary">Kullanıcı Girişi</a>
    <a href="/Login/AdminLogin" class="btn btn-lg btn-secondary">Admin Girişi</a>
</p>